<StackLayout *ngIf="countPhotoLeft == 0 || !onlyFreeMode">
    <GridLayout [columns]="columns" [width]="width" class="progressbar">
        <StackLayout col="0" class="progressbar-value"></StackLayout>
    </GridLayout>
    
    <Label [text]="text1" horizontalAlignment="center" class="m-b-10" *ngIf="countPhotoLeft != 0"></Label>
    
    <Label [text]="text2" horizontalAlignment="center" *ngIf="countPhotoLeft==0"></Label>
    <Label [text]="text3" horizontalAlignment="center" *ngIf="countPhotoLeft==0 && text3 != undefined"></Label>
    <Label [text]="text4" horizontalAlignment="center" *ngIf="countPhotoLeft==0"></Label>
    <Label [text]="text5" horizontalAlignment="center" *ngIf="countPhotoLeft==0 && text5 != undefined"></Label>
</StackLayout>