.tag {
    margin: 3pt 1pt 4pt 1pt;
    padding: 6pt 10pt 6pt 10pt;
    color: rgba(30, 39, 46, 0.8);

    &.active {
        color: #fff;
    }
    &.tag-bg {
        border-radius: 6pt;
    }
    &.tag-ios {
        margin-right: 10pt;
    }
    &.tag-android {
        margin-right: 10pt;
    }
}