<!-- iOS -->
<AbsoluteLayout *ngIf="isIOS">
    <Label 
        (tap)="triggerClick()"
        [text]="name"
        class="tag font-medium-small"
        (loaded)="onLoaded()"
        #label
        ></Label>
    <Label [text]="name"
        class="tag tag-bg gradient font-medium-small"
        *ngIf="isActive"
        ></Label>
    <Label [text]="name"
        class="tag active font-medium-small"
        (tap)="triggerClick()"
        *ngIf="isActive"
        ></Label>
</AbsoluteLayout>

<!-- ANDROID -->
<Label 
    *ngIf="!isIOS"
    (tap)="triggerClick()"
    [text]="name"
    class="tag font-medium-small"
    [class.active]="isActive"
    android:borderRadius="6"
    androidElevation="4"
    android:background="{{isActive ? 'linear-gradient(to right, #E067A9, #FFB184)' : 'white'}}"
    ></Label>
