<StackLayout id="container">
    <Label text="&times;" id="close-button" class="m-l-20 m-t-30" (tap)="goPrevPage()"></Label>
    <StackLayout id="dialog" class="m-t-100">
        <Label class="text-center" textWrap="true" text="{{ 'selection_popup_title' | L }}:"></Label> 
        <StackLayout id="main-image" class="m-t-15 m-b-15">
            <Image [src]="photo" stretch="aspectFill"></Image> 
        </StackLayout>
        <!-- <ProgressBar page="confirm" width="60%"></ProgressBar> -->
        <Button class="btn btn-rounded-lg btn-normal" text="{{ 'selection_popup_button_ok' | L }}" (tap)="confirmImage()"></Button>
        <Button class="btn btn-outline btn-rounded-lg border-color-normal color-normal" text="{{ 'selection_popup_button_deny' | L }}" (tap)="chooseImage()"></Button>
    </StackLayout>
</StackLayout>