<GridLayout class="big-header">
    <Image src="~/app/assets/images/header/img5.jpg" stretch="aspectFill"></Image>
    <GridLayout rows="*,auto" id="header-content" class="gradientTrans p-t-20">
        <GridLayout row="0" rows="40" columns="*,auto,auto,*" class="m-t-10 m-b-20">
            <Image col="2" src="~/app/assets/images/logo_white.png" height="30" verticalAlignment="top" class="m-t-4"></Image>
        </GridLayout>
        <Image row="1" src="~/app/assets/images/header_shadow.png"></Image>
    </GridLayout>
</GridLayout>