#title {
    font-size: 28pt;
    font-family: "AvenirNext-Medium", "Avenir Next Medium", "Avenir Next Medium";
    margin-bottom: 18pt;
    text-align: center;
    color: #fff;
}

.subtitle {
    font-size: 16pt;
    font-family: "AvenirNext-Medium", "Avenir Next Medium", "Avenir Next Medium";
    text-align: center;
    color: #fff;
}