<Label [text]="'selection_suggestions' | L" class="font-demi-bold m-t-10 m-l-5 m-b-5" textWrap="true" *ngIf="!!suggestedHashtags && suggestedHashtags.tags.length > 0"></Label>
<WrapLayout class="m-t-5" *ngIf="!!suggestedHashtags">
  <ns-hashtag
    *ngFor="let tag of suggestedHashtags.tags"
    (onClick)="toggleHashtag(tag.title)"
    (onClickCensored)="clickCensoredHashtag()"
    [name]="'#' + tag.title"
    [isActive]="selectedHashtags.indexOf(tag.title) > -1"
    [censored]="tag.isCensored"
    ></ns-hashtag>
</WrapLayout>
<Label class="m-r-10 m-l-5 m-b-5" text="{{ 'results_no_hashtags_selected' | L }}" textWrap="true" *ngIf="selectedHashtags.length == 0"></Label>