<Label [text]="'selection_suggestions' | L" class="font-demi-bold m-l-5 m-b-5" textWrap="true"></Label>
<Label [text]="'selection_suggestions2' | L" class="font-reg-xs m-l-5 m-r-5" *ngIf="suggestedHashtags.tags.length !== 0"></Label>
<WrapLayout class="m-t-5 m-b-20" *ngIf="suggestedHashtags.tags.length !== 0">
  <ns-hashtag
    *ngFor="let tag of suggestedHashtags.tags"
    (onClick)="toggleHashtag(tag.title)"
    (onClickCensored)="clickCensoredHashtag()"
    [name]="'#' + tag.title"
    [isActive]="selectedHashtags.indexOf(tag.title) > -1"
    [censored]="tag.isCensored"
    ></ns-hashtag>
</WrapLayout>
<Label class="m-r-10 m-b-10 m-l-5 m-b-5" [text]="'suggestions_desc' | L" textWrap="true" *ngIf="suggestedHashtags.tags.length === 0"></Label>
