<GridLayout tkMainContent (tap)="dismissSoftKeyboard()">

    <!-- CONTENT -->
    <ScrollView  [style.margin-top]="headerHeight + headerTop - (headerHeight / 2)" sdkExampleTitle sdkToggleNavButton>
        <StackLayout [style.padding-top]="headerHeight / 2" class="p-r-20 p-l-20" (tap)="dismissSoftKeyboard()">
            <Label [text]="'myhashtags_intro' | L" class="font-reg-s m-t-15 m-l-10 m-b-10 m-r-20" textWrap="true"></Label>

            <StackLayout class="m-b-20 m-l-10 m-r-10">
                <ns-insert-hashtags-form (hashtagAdded)="addHashtag($event)"></ns-insert-hashtags-form>
            </StackLayout>
            
            <Label [text]="'myhashtags_your' | L" class="font-demi-bold m-l-10 m-b-5" *ngIf="hashtagsOwn.length !== 0"></Label>
            <WrapLayout class="m-b-20 tag-title" *ngIf="hashtagsOwn.length !== 0">
                <ns-hashtag *ngFor="let tag of hashtagsOwn; let j = index;" [name]="'#' + tag.title"></ns-hashtag>
            </WrapLayout>

            <Label [text]="'myhashtags_other' | L" class="font-demi-bold m-l-10 m-b-5" *ngIf="hashtagsGenerated.length !== 0"></Label>
            <WrapLayout class="m-b-20 tag-title" *ngIf="hashtagsGenerated.length !== 0">
                <ns-hashtag *ngFor="let tag of hashtagsGenerated; let j = index;" [name]="'#' + tag.title"></ns-hashtag>
            </WrapLayout>
            
        </StackLayout>
    </ScrollView>

    <!-- HEADER -->
    <AbsoluteLayout [height]="headerHeight" verticalAlignment="top" isUserInteractionEnabled="false">
        <Image src="~/app/assets/images/header/header_img1.png" stretch="aspectFill" width="100%" [top]="headerTop"></Image>
        <GridLayout width="100%">
            <Label [text]="'menu_myhashtags' | L" horizontalAlignment="center" [class]="'title ' + (isIOS ? 'm-t-20' : 'm-t-40')"></Label>
        </GridLayout>
    </AbsoluteLayout>

    <!-- MENU BUTTON -->
    <StackLayout (tap)="goPrevPage()" horizontalAlignment="left" verticalAlignment="top" height="70" width="70" class="m-t-20">
        <Image src="~/app/assets/images/icons/arrowLeft_white.png" height="20" width="20" [class.m-t-20]="!isIOS" class="p-l-25 p-r-25 p-b-20 p-t-10"></Image>
    </StackLayout>
    
</GridLayout>