@import '../../../app-variables';

.item {
	border-radius: 8pt;
	margin: 0 0 10pt 0;
	padding: 3pt;

	.plan-header {
		background-color: #fff;
		border-radius: 5pt 5pt 0 0;
		padding: 5pt 0 0 5pt;
		height: 85pt;
	
		.plan-title {
			color: $color_pink;
		}
		.plan-content {
			font-size: 14pt;
		}
	}
	
	.plan-footer {
		border-radius: 0 0 5pt 5pt;
		padding: 5pt 0 0 5pt;
		
		Label {
			color: #fff;
			
			&.discount {
				text-decoration: line-through;
				font-size: 18pt;
			}
			&.bought {
				font-size: 20pt;
				color: #fff;
			}
		}
		Button {
			color: #fff;
		}
	}

	&.bought .plan-footer {
		background: linear-gradient(to bottom, #fff, rgb(55, 177, 55));
	}
}

Label {
	text-transform: none;
}
.headline {
	font-size: 18pt;
}