@import '../../../app-variables';

.item {
	border-radius: 8pt;
	margin: 0 0 10pt 0;
	padding: 3pt;

	.plan-header {
		background-color: #fff;
		border-radius: 5pt 5pt 0 0;
		padding: 5pt 0 0 5pt;
		height: 70pt;
	
		.plan-title {
			font-weight: bold;
			color: $color_pink;
		}
		.plan-content {
			font-size: 14pt;
		}
	}
	
	.plan-footer {
		border-radius: 0 0 5pt 5pt;
		padding: 5pt 0 0 5pt;
		
		Label {
			color: #fff;
		}
		Button {
			color: #fff;
			font-weight: bold;
		}
	}
}

Label {
	text-transform: none;
}
.headline {
	font-size: 18pt;
}