<StackLayout tkMainContent>
    <GridLayout rows="130,*" class="Settings">
        <ns-small-header (OpenMenu)="openMenu()" [image]="'store.jpg'" [title]="'menu_store' | L"></ns-small-header>
        <StackLayout row="1" class="plans">
            
            <ScrollView sdkExampleTitle sdkToggleNavButton>

                <StackLayout class="p-l-15 p-r-15 p-b-20">
                    <Label textWrap="true" [text]="'store_intro' | L" class="p-b-10"></Label>

                    <Label [text]="'store_headline_once' | L" class="headline p-t-10 p-b-10"></Label>

                    <StackLayout *ngFor="let plan of plans; let i = index;">
                        <ng-container [ngTemplateOutlet]="entry" [ngTemplateOutletContext]="{plan:plan}" *ngIf="!plan.isAbo"></ng-container>
                    </StackLayout>

                    <Label [text]="'store_headline_abo' | L" class="headline p-t-10 p-b-10"></Label>

                    <StackLayout *ngFor="let plan of plans; let i = index;">
                        <ng-container [ngTemplateOutlet]="entry" [ngTemplateOutletContext]="{plan:plan}" *ngIf="plan.isAbo"></ng-container>
                    </StackLayout>

                    <StackLayout class="hr-light m-10"></StackLayout>
                    <Label textWrap="true" [text]="'store_outro' | L" class="p-b-10"></Label>
                    <Button [text]="'store_restore' | L" class="btn btn-rounded-lg btn-outline border-color-normal color-normal"></Button>

                </StackLayout>
            </ScrollView>

        </StackLayout> 
    </GridLayout>
</StackLayout>

<ng-template #entry let-plan="plan">
    <GridLayout rows="80,50" class="item gradient">
        <GridLayout row="0" columns="80,*" verticalAlignment="middle" class="plan-header">
            <Image [src]="plan.image" col="0" class="m-r-10" stretch="aspectFill"></Image>
            <GridLayout col="1" rows="auto,auto">
                <Label row="0" [text]="plan.title" class="plan-title font-demi-bold"></Label>
                <Label row="1" [text]="plan.content" textWrap="true" class="m-t-5 plan-content font-reg-s"></Label>
            </GridLayout>
        </GridLayout>
        <GridLayout row="1" columns="*,150" verticalAlignment="middle" class="plan-footer">
            <Label col="0" text="Save {{plan.savings}} %" *ngIf="plan.savings != 0" class="font-demi-bold" verticalAlignment="middle"></Label>
            <Button col="1" [text]="plan.cost" class="btn btn-rounded-lg btn-normal font-demi-bold" verticalAlignment="middle"></Button>
        </GridLayout>
    </GridLayout>
</ng-template>