<GridLayout tkMainContent>
            
    <!-- CONTENT -->
    <ScrollView [style.margin-top]="headerHeight + headerTop - (headerHeight / 2)" sdkExampleTitle sdkToggleNavButton>
        <StackLayout [style.padding-top]="headerHeight / 2" class="p-l-40 p-r-40 p-b-30">
            <Label textWrap="true" [text]="'store_intro' | L" class="p-b-10"></Label>

            <Label [text]="'store_buy_photo' | L" class="headline p-t-10 p-b-10"></Label>
            <StackLayout *ngFor="let plan of plans; let i = index;">
                <ng-container [ngTemplateOutlet]="entry" [ngTemplateOutletContext]="{plan:plan}" *ngIf="i != 0"></ng-container>
            </StackLayout>
            
            <Label [text]="'store_buy_tips_tricks' | L" class="headline p-t-10 p-b-10"></Label>
            <ng-container [ngTemplateOutlet]="entry" [ngTemplateOutletContext]="{plan:plans[0]}"></ng-container>

            <StackLayout class="hr-light m-10"></StackLayout>
            <Label textWrap="true" [text]="getOutroText()" class="p-b-10"></Label>
            <Button [text]="'store_restore' | L" (tap)="restore()" class="btn btn-rounded-lg btn-outline border-color-normal color-normal"></Button>

        </StackLayout>
    </ScrollView>

    <!-- HEADER -->
    <AbsoluteLayout [height]="headerHeight" verticalAlignment="top" isUserInteractionEnabled="false">
        <Image src="~/app/assets/images/header/header_img3.png" stretch="aspectFill" width="100%" [top]="headerTop"></Image>
        <GridLayout width="100%">
            <Label [text]="'menu_store' | L" horizontalAlignment="center" [class]="'title ' + (isIOS ? 'm-t-20' : 'm-t-40')"></Label>
        </GridLayout>
    </AbsoluteLayout>

    <!-- MENU BUTTON -->
    <StackLayout (tap)="openMenu()" horizontalAlignment="left" verticalAlignment="top" height="70" width="70" class="m-t-20">
        <Image src="~/app/assets/images/icons/menu_bar_white.png" height="20" width="20" [class.m-t-20]="!isIOS" class="p-l-25 p-r-25 p-b-20 p-t-10"></Image>
    </StackLayout>
    
</GridLayout>

<ng-template #entry let-plan="plan">
    <GridLayout rows="65,55" class="item gradient">
        <GridLayout row="0" verticalAlignment="top" class="plan-header">
            <Label [text]="plan.title" verticalAlignment="top" class="plan-title font-demi-bold"></Label>
            <Label [text]="plan.desc" verticalAlignment="top" class="m-t-20 plan-content font-reg-s" textWrap="true"></Label>
            <Label [text]="plan.desc2" verticalAlignment="top" class="m-t-40 plan-content font-reg-s" *ngIf="plan.desc2 !== undefined"></Label>
        </GridLayout>
        <GridLayout row="1" columns="*,150" class="plan-footer">
            <Label col="0" text="{{'store_save' | L}} {{plan.discount}} %" *ngIf="plan.discount != undefined && plan.id != 'large' && plan.id != 'tipstricks'" class="font-demi-bold m-b-10" verticalAlignment="bottom"></Label>
            <Label col="0" text="+ {{'menu_faq' | L}}" class="font-demi-bold m-b-10" *ngIf="plan.id == 'large'" verticalAlignment="bottom"></Label>
            <Button col="1" [text]="plan.product.priceFormatted" (tap)="buyProduct(plan)" class="btn btn-rounded-lg btn-normal font-demi-bold" *ngIf="plan.product !== undefined"></Button>
        </GridLayout>
    </GridLayout>
</ng-template>