@import '../../../../app-variables';

#header {
  padding: 20pt 0 0 0;

  .title {
    color: rgb(30, 39, 46);
  }

  .header-right-icon {
    vertical-align: middle;
    font-size: 20pt;
  }
}

#preview-image {
  width: 100%;
}

#user-selection {
  background-color: #fff;
}

.hash-title {
  font-size: 16pt;
}

.tag-title {
  font-size: 14pt;
}

.hash-title,
.tag-title,
.btn-selectall,
.btn-add {
  font-family: 'AvenirNext-Medium', 'Avenir Next Medium';
}

.btn-selectall {
  font-size: 12pt;
  height: 20pt;
  margin: 0;
}

.input {
  width: 100%;
}

.footer StackLayout {
  padding-top: 8;
}