<GridLayout *ngIf="showHeader" id="history_header" verticalAlignment="top">
    <GridLayout columns="auto,auto,auto" horizontalAlignment="center" verticalAlignment="top" (tap)="clickOpenCloseHistory()">
        <Image src="~/app/assets/images/icons/history.png" col="0" class="m-r-10" width="20pt" height="18pt"></Image>
        <Label text="{{ 'history_title' | L }} ({{photosReverse.length}})" fontSize="16" class="font-weight-bold" col="1"></Label>
        <Image src="~/app/assets/images/icons/up.png" *ngIf="!isHistoryOpen" col="2" class="m-l-10" width="10pt" height="6pt"></Image>
        <Image src="~/app/assets/images/icons/down.png" *ngIf="isHistoryOpen" col="2" class="m-l-10" width="10pt" height="6pt"></Image>
    </GridLayout>
</GridLayout>
<ScrollView id="history_content" [class.top_margin]="showHeader" orientation="vertical" sdkExampleTitle sdkToggleNavButton>
    <StackLayout>
        <StackLayout orientation="horizontal" class="list-group-item" (longPress)="selectItem(i)" *ngFor="let photo of photosReverse; let i = index;">
            <GridLayout rows="*" [columns]="isSelected(i) ? '20,*,70' : '70,*,0'" verticalAlignment="top" class="m-b-10">
                <Image [src]="photo.image" col="0" *ngIf="!isSelected(i)" stretch="aspectFill" (tap)="selectElement(photo)" verticalAlignment="top"></Image>
                <StackLayout class="left-blackbar" col="0" *ngIf="isSelected(i)"></StackLayout>
                <StackLayout class="history-item" col="1" class="m-l-10 m-b-5" (tap)="selectElement(photo)">
                    <WrapLayout *ngIf="photo.categories.length != 0">
                        <ns-hashtag *ngFor="let tag of getHashtags(photo)" [name]="tag.title"></ns-hashtag>
                        <ns-hashtag name="+{{countFurtherHashtags(photo)}} more"></ns-hashtag>
                    </WrapLayout>
                    <Label *ngIf="photo.categories.length == 0" class="history-error-text m-t-10 m-l-5" [text]="'history_photo_defect1' | L"></Label>
                    <Label *ngIf="photo.categories.length == 0" class="history-error-text m-l-5" [text]="'history_photo_defect2' | L"></Label>
                </StackLayout>
                <StackLayout col="2" class="trash" *ngIf="isSelected(i)" verticalAlignment="middle" horizontalAlignment="center" (tap)="deleteHistoryItem(photo)">
                    <Image src="~/app/assets/images/icons/trash.png" width="27pt" height="30pt"></Image>
                </StackLayout>
            </GridLayout>
        </StackLayout>
        <Label class="no-content" [text]="'history_no_content' | L" *ngIf="photosReverse.length === 0" horizontalAlignment="center"></Label>
    </StackLayout>            
</ScrollView>