#container {
    /* background-color: #fafafa; */
}

#close-container {
    width: 40;
    height: 40;
}

#close-button { 
    font-size: 32pt;
    color: rgb(46, 55, 77);
    font-family: "AvenirNext-Medium", "Avenir Next Medium";
}

.title {
    font-size: 18pt;
    color: rgb(30, 39, 46);
    font-family: "AvenirNext-Medium", "Avenir Next Medium";
}

#dialog {
    border-radius: 10;
    width: 80%;
    padding: 20;
    padding-bottom: 0;
}

#dialog Label {
    font-size: 16pt;
    color: rgb(30, 39, 46);
}

#main-image {
    height: 200;
}

    #main-image Image {
        border-radius: 5;
    }

#dialog .btn {
    font-family: "AvenirNext-DemiBold", "Avenir Next Demi Bold";
    font-size: 16pt;
    text-transform: none;
    height: 50pt;
    margin-bottom: 10pt;
}

#dialog .btn:first-child {
    margin-top: 20pt;
}
