<StackLayout>
    <GridLayout columns="20,*,20" class="gradient" id="header">
        <Image col="0" src="~/app/assets/images/icons/arrowLeft_white.png" (tap)="goPrevPage()"></Image>
        <Label col="1" text="{{ 'leave_feedback_headline' | L }}" class="title"></Label>
    </GridLayout>

    <GridLayout row="1" rows="*,70">
        <GridLayout row="0">
            <ScrollView sdkExampleTitle sdkToggleNavButton>
                <StackLayout>

                    <StackLayout class="m-l-20 m-r-20 m-t-10">
                        <Label [text]="'leave_feedback_rating_title' | L" class="font-demi-bold"></Label>
                        <Label [text]="'leave_feedback_rating_desc' | L" class="font-reg-xs" textWrap="true"></Label>
                    </StackLayout>

                    <GridLayout class="status m-l-20 m-r-5 m-t-10 m-b-10" columns="*,*,*" rows="auto">
                        <GridLayout [col]="i" class="m-r-15" *ngFor="let emoji of emojis; let i = index;" (tap)="clickEmoji(emoji, i)">
                            <StackLayout horizontalAlignment="center" class="p-t-5 p-b-5" [class.gradient]="ratingIndex === i">
                                <Image [src]="'~/app/assets/images/icons/' + emoji + '.png'" *ngIf="ratingIndex !== i"></Image>
                                <Image [src]="'~/app/assets/images/icons/' + emoji + '_white.png'" *ngIf="ratingIndex === i"></Image>
                                <Label text="{{'emoji_' + emoji | L}}" class="font-reg-s"></Label>
                            </StackLayout>
                        </GridLayout>
                    </GridLayout>
                
                    <StackLayout class="m-l-15 m-r-15 m-b-200">
                        <Label [text]="'leave_feedback_good_hashtags_title' | L" class="font-demi-bold m-t-20 m-l-5 m-b-5"></Label>
                        <Label [text]="'leave_feedback_good_hashtags_desc' | L" class="font-reg-xs m-l-5 m-b-5"></Label>
                        <WrapLayout>
                            <ns-hashtag *ngFor="let tag of userSelectedHashtags" (onClick)="clickGoodHashtag(tag)" [isActive]="tags1.indexOf(tag.title) !== -1" [name]="tag.title"></ns-hashtag>
                        </WrapLayout>

                        <Label [text]="'leave_feedback_bad_hashtags_title' | L" class="font-demi-bold m-t-20 m-l-5 m-b-5"></Label>
                        <Label [text]="'leave_feedback_bad_hashtags_desc' | L" class="font-reg-xs m-l-5 m-b-5"></Label>
                        <WrapLayout>
                            <ns-hashtag *ngFor="let tag of userNotSelectedHashtags" (onClick)="clickBadHashtag(tag)" [isActive]="tags2.indexOf(tag.title) !== -1" [name]="tag.title"></ns-hashtag>
                        </WrapLayout>

                        <FloatLabel class="m-l-10 m-r-10" placeholder="{{ 'leave_feedback_missing_hashtags' | L }}" (userTextEmitter)="setMissingHashtags($event)"></FloatLabel>
                        <FloatLabel class="m-l-10 m-r-10" placeholder="{{ 'leave_feedback_comments' | L }}" (userTextEmitter)="commentChange($event)"></FloatLabel>
                    </StackLayout>
                    
                </StackLayout> 
            </ScrollView>   
            <StackLayout class="top-shadow" isUserInteractionEnabled="false"></StackLayout>
            <StackLayout class="bottom-shadow" isUserInteractionEnabled="false"></StackLayout>
        </GridLayout>
        <GridLayout row="1" class="footer">
            <Button text="{{ 'leave_feedback_send_feedback_copy' | L }}" class="btn btn-main btn-normal btn-rounded-lg font-demi-bold" (tap)="sendFeedback()"></Button>
        </GridLayout>
    </GridLayout>
</StackLayout>