<GridLayout class="small-header">
    <Image src="~/app/assets/images/header/{{image}}" stretch="aspectFill"></Image>
    <GridLayout rows="*,auto" id="header-content" class="gradientTrans">
        <GridLayout row="0" rows="60" columns="70,*,70" class="m-t-20">
            <GridLayout col="1" horizontalAlignment="center" verticalAlignment="middle">
                <Label [text]="title" class="title"></Label>
            </GridLayout>
        </GridLayout>
        <Image row="1" src="~/app/assets/images/header_shadow.png" id="shadow"></Image>
    </GridLayout>
    <Image src="~/app/assets/images/icons/menu_bar_white.png"  horizontalAlignment="left" verticalAlignment="top" height="70" width="70" class="m-t-20 p-l-25 p-r-25 p-b-20 p-t-10" style="background-color: transparent;" (tap)="openMenu()"></Image>
</GridLayout>
