<GridLayout class="small-header">
    <Image src="~/app/assets/images/header/{{image}}" stretch="aspectFill"></Image>
    <Label horizontalAlignment="center" verticalAlignment="top" [text]="title" class="title" [class.m-t-40]="!isIOS"></Label>

    <StackLayout (tap)="openMenu()" horizontalAlignment="left" verticalAlignment="top" height="70" width="70" [class.m-t-20]="!isIOS">
        <Image src="~/app/assets/images/icons/menu_bar_white.png" height="20" width="20" class="m-t-20 p-l-25 p-r-25 p-b-20 p-t-10"></Image>
    </StackLayout>

</GridLayout>
