
.title {
    color: white;
    font-size: 18pt;
    font-family: "AvenirNext-Medium";
    letter-spacing: 0;
}

#header-content {
    background: linear-gradient(to right, rgba(207,105,157,0.8) , rgba(236,157,139,0.8));
}