<StackLayout class="dialog" [class.more_width]="isIOS" horizontalAlignment="center">            
    <Image [src]="iconPath" height="50" class="m-t-10" *ngIf="!!icon"></Image>
    <Label [text]="headline | L" class="m-t-10 m-b-5 text-center font-demi-bold" *ngIf="headline != ''"></Label>
    <Label [text]="headline2 | L" class="text-center font-demi-bold" *ngIf="headline2 != ''"></Label>
    <Label [text]="desc | L" class="m-t-15 m-b-10 m-l-10 m-r-10 text-center font-medium-small" textWrap="true" *ngIf="desc != ''"></Label>

    <Button class="btn btn-outline btn-rounded-lg border-color-normal color-normal" [text]="buttonOk | L" (tap)="ok()" *ngIf="buttonOk != '' && buttonCancel == ''"></Button>

    <GridLayout columns="1*,2*" *ngIf="buttonOk != '' && buttonCancel != ''" class="buttons">
      <Button col="0" class="btn btn-outline btn-rounded-lg border-color-normal color-normal buttonCancel" [text]="buttonCancel | L" (tap)="cancel()"></Button>
      <Button col="1" class="btn gradient color-white btn-rounded-lg border-color-normal color-normal buttonOk" [text]="buttonOk | L" (tap)="ok()" horizontalAlignment="left"></Button>
    </GridLayout>

</StackLayout>