#header {
    /* vertical-align: middle; */
    /* padding: 20pt 20pt 0 20pt; */
}
    .title {
        font-family: "AvenirNext-Medium", "Avenir Next Medium";
        font-size: 18pt;
    }
    .header-right-icon {
        vertical-align: middle;
        font-size: 20pt;
    }


#preview-image {
    width: 100%;
}

#user-selection {
    background-color: #fff;
}

.hash-title {
    font-size: 16pt;
}

.tag-title {
    font-size: 14pt;
}

.hash-title, .tag-title, .btn-selectall, .btn-add {
    font-family: "AvenirNext-Medium", "Avenir Next Medium";
}

.btn-selectall {
    font-size: 12pt;
    height: 20pt;
    /* text-align: center; */
    margin: 0;
}

.btn-add {
    font-size: 14pt;
    border-radius: 10pt;
    border-width: 2pt;
    border-color: #cec8c8;
    color: #A5A2A2;
    height: 30pt;
    margin: 0 0 0 5pt;
}
.btn-add.active {
    /* border-width: 1pt; */
    border-color: #FFB184;
    color: #FFB184;
}

.input {
    width: 100%;
}

#bottom-shadow {
    height: 100%;    
    background-image: url("~/app/assets/images/bottom-shadow.png");
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-position: bottom;
}

.footer {
    background-color: #fafafa;
}

.footer StackLayout {
    padding-top: 8;
}

@keyframes show {
    from { opacity: 0; }
    to { opacity: 1; }
}

.dialogOpen .page {
    opacity: 0.2;
}
.dialogOpen .dialog-wrapper {
    visibility: visible;
    animation-name: show;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}
.dialog-wrapper {    
    visibility: collapse;
    opacity: 0;
}

.dialog {
    border-radius: 10;
    width: 60%;
    margin-top: 200;
    background-color: #fafafa;
    padding: 20;
}