.headline {
  margin: 15pt 0 0 0;
  font-size: 18pt;
}

.list-entry {
  background-image: url('~/app/assets/images/icons/list.png');
  background-repeat: no-repeat;
  background-position: left center;
  padding: 3pt 0 3pt 15pt;
  margin-left: 3pt;
}
