<GridLayout>
    <StackLayout orientation="vertical" class="main">
        <GridLayout verticalAlignment="middle" columns="20,*,20" id="header" class="gradient">
            <Image col="0" src="~/app/assets/images/icons/arrowLeft_white.png" (tap)="goPrevPage()"></Image>
            <Label col="1" [text]="'about_title' | L" class="text-center font-medium-l"></Label>
            <StackLayout col="2"></StackLayout>
        </GridLayout>

        <GridLayout>
            <StackLayout class="top-shadow" isUserInteractionEnabled="false"></StackLayout>
            
            <ScrollView sdkExampleTitle sdkToggleNavButton>
                <StackLayout class="p-l-30 p-r-30 p-b-20 p-t-50">

                    <Label textWrap="true" [text]="'about_desc_1' | L" class="m-b-20 font-medium-l"></Label>
                    <!-- <Label [text]="'about_desc_1' | L" textWrap="true" class="font-medium-small p-b-10"></Label> -->
                    <Label [text]="'about_desc_2' | L" textWrap="true" class="p-b-10"></Label>
                    <Label [text]="'about_desc_3' | L" textWrap="true" class="m-b-25"></Label>
                    <StackLayout class="hr-light"></StackLayout>

                    <Label [text]="'about_headline_credits' | L" class="headline m-t-25"></Label>
                    <Label class="list-entry" [text]="'about_credits_1' | L" textWrap="true"></Label>
                    <Label text="{{'about_made_in_hh_1' | L}} &#10084; {{'about_made_in_hh_2' | L}}" class="font-medium-small m-t-10"></Label>
                    
                    <Label [text]="'about_headline_support' | L" class="headline"></Label>
                    <Label class="list-entry" [text]="'about_support_1' | L" textWrap="true"></Label>
                    <Label class="list-entry" [text]="'about_support_2' | L" textWrap="true"></Label>
                    <Label class="list-entry" [text]="'about_support_3' | L" textWrap="true"></Label>
                    <Label class="list-entry m-b-20" [text]="'about_support_4' | L" textWrap="true"></Label>
                    <StackLayout class="hr-light"></StackLayout>

                    <Label [text]="'about_headline_infos' | L" class="headline m-t-25"></Label>
                    <Label class="list-entry" text="{{'about_infos_app_version' | L}}: v1.0.8"></Label>
                    <Label class="list-entry" text="{{'about_infos_be_version' | L}}: v1.0"></Label>
                    <Label class="list-entry" text="{{'about_infos_user_id' | L}}: {{userId}}"></Label>
                    <Label class="list-entry m-b-30" text="{{'about_infos_contact' | L}}: {{'email' | L}}"></Label>
                    
                </StackLayout>
            </ScrollView>
        </GridLayout>

    </StackLayout>
</GridLayout>