.hr {
  border-bottom: 1pt rgb(90, 98, 104);
}

.headline {
  margin-top: 5pt;
  font-size: 18pt;
}

.list-entry {
  background-image: url('~/app/assets/images/icons/list.png');
  background-repeat: no-repeat;
  background-position: left center;
  padding: 3 0 3 20;
}
