<!--
RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
http://docs.telerik.com/devtools/nativescript-ui/Controls/NativeScript/SideDrawer/getting-started
-->
<RadSideDrawer toggleNavButton [drawerTransition]="sideDrawerTransition">
    <StackLayout tkDrawerContent>
        <StackLayout rows="auto, *" class="menu">
            <GridLayout rows="30" columns="20" horizontalAlignment="left" class="m-t-20">
                <Image col="0" src="~/app/assets/images/icons/arrowLeft.png" (tap)="closeMenu()" width="16pt" height="12pt"></Image>
            </GridLayout> 
            <GridLayout rows="30" columns="20,auto" (tap)="openPage(i)" class="item" *ngFor="let menu of menus; let i = index;">
                <Image col="0" [src]="'~/app/assets/images/icons/' + menu + '.png'"></Image>
                <Label col="1" text="{{ 'menu_' + menu | L }}" class="" [class.menu-active]="selected[i]"></Label>
            </GridLayout>
        </StackLayout>
    </StackLayout>
    <page-router-outlet tkMainContent></page-router-outlet>
</RadSideDrawer>