<GridLayout (tap)="dismissSoftKeyboard()">
    <StackLayout orientation="vertical" class="main">

        <GridLayout verticalAlignment="middle" columns="20,*,20" id="header" class="gradient">
            <Image col="0" src="~/app/assets/images/icons/arrowLeft_white.png" (tap)="goPrevPage()"></Image>
            <Label col="1" [text]="'menu_feedback' | L" class="text-center font-medium-l"></Label>
            <StackLayout col="2"></StackLayout>
        </GridLayout>

        <GridLayout>
            <StackLayout class="top-shadow" isUserInteractionEnabled="false"></StackLayout>
            <GridLayout rows="0,*,70" class="Home">
                <StackLayout row="1" verticalAlignment="middle" class="input-field p-l-40 p-r-40">
                    <Label textWrap="true" [text]="'feedback_title' | L" class="m-b-20 font-medium-l"></Label>
                    <Label textWrap="true" [text]="'feedback_intro' | L" class="font-reg-s"></Label>
                    <Label textWrap="true" text="{{'feedback_via_email' | L}} {{'email' | L}}" class="font-reg-s"></Label>
                    <FloatLabel [placeholder]="'feedback_email' | L" #clearTextfieldClear (userTextEmitter)="emailChange($event)"></FloatLabel>
                    <FloatLabel [placeholder]="'feedback_message' | L" #clearTextfieldClear (userTextEmitter)="messageChange($event)"></FloatLabel>
                    <Button text="{{ 'feedback_send' | L }}" class="btn btn-rounded-lg btn-normal feedbackBtn" width="100%" [class.muted]="email=='' && message==''" (tap)="sendFeedback()"></Button>
                </StackLayout>
            </GridLayout>
        </GridLayout>
  
    </StackLayout>
</GridLayout>