.history,
.list-group-item {
    background-color: red;
}

.history {
    left: 0;
    top: 50pt;
}

.trash {
    background-color: #E95978;
    width: 100%;
    height: 78;
}

.left-blackbar {
    height: 80pt;
    background-color: black;
}