
<AbsoluteLayout>

    <Image src="~/app/assets/images/home_footer_shadow.png" verticalAlignment="top"></Image>
    <GridLayout columns="auto,auto,auto" horizontalAlignment="center" verticalAlignment="middle" class="m-t-30">
        <Image src="~/app/assets/images/icons/history.png" col="0" class="m-r-10" width="20pt" height="18pt"></Image>
        <Label text="{{ 'history_title' | L }}" fontSize="16" class="font-weight-bold" col="1"></Label>
        <Image src="~/app/assets/images/icons/up.png" *ngIf="!isHistoryOpen" col="2" class="m-l-10" width="10pt" height="6pt"></Image>
        <Image src="~/app/assets/images/icons/down.png" *ngIf="isHistoryOpen" col="2" class="m-l-10" width="10pt" height="6pt"></Image>
    </GridLayout>

    
    <StackLayout class="history">
        <GridLayout rows="50,*">
            <!-- <GridLayout row="0" columns="50,*,50" verticalAlignment="middle" class="header p-10">
                <StackLayout col="0" (tap)="openCloseHistory()">
                    <Label text="&#xf00d;" class="pull-left m-l-10 fas" fontSize="16"></Label>              
                </StackLayout>
                <StackLayout col="1" *ngIf="isHistoryOpen">
                    <Label text="{{ 'history_title' | L }} ({{histories.length}})" class="text-center" fontSize="18"></Label>
                </StackLayout>
                <StackLayout col="2"></StackLayout>
            </GridLayout> -->
            <ScrollView row="1" orientation="vertical" sdkExampleTitle sdkToggleNavButton>
                <StackLayout>
                    <StackLayout orientation="horizontal" class="list-group-item" (longPress)="selected[i]=!selected[i]" *ngFor="let history of histories; let i = index;">
                        <GridLayout rows="*" [columns]="selected[i] ? '5,*,78' : '78,*,0'" verticalAlignment="top">
                            <Image [src]="history.image_url" col="0" *ngIf="!selected[i]" class="m-l-20"></Image>
                            <StackLayout class="left-blackbar" col="0" *ngIf="selected[i]"></StackLayout>
                            <StackLayout col="1" class="m-t-5 m-b-5">
                                <Label class="m-l-5">
                                    <FormattedString>
                                        <Span [text]="history.date" fontAttributes="bold"></Span>
                                        <Span text=" {{'history_date_at' | L }} {{history.time}}"></Span>
                                    </FormattedString>
                                </Label>
                                <WrapLayout>
                                    <ns-hashtag *ngFor="let tag of history.tags" [name]="tag"></ns-hashtag>
                                    <ns-hashtag name="+38 more"></ns-hashtag>
                                </WrapLayout>
                            </StackLayout>
                            <StackLayout row="0" col="2" class="trash" *ngIf="selected[i]" verticalAlignment="middle" horizontalAlignment="center" (tap)="deleteHistory(i)">
                                <Image src="~/app/assets/images/icons/trash.png" width="27pt" height="30pt"></Image>
                            </StackLayout>                        
                        </GridLayout>         
                    </StackLayout>
                </StackLayout>            
            </ScrollView>
            
        </GridLayout>
    </StackLayout>

</AbsoluteLayout>
    