

<GridLayout columns="auto,auto,auto" horizontalAlignment="center" verticalAlignment="top" id="history_header" (tap)="clickOpenCloseHistory()">
    <Image src="~/app/assets/images/icons/history.png" col="0" class="m-r-10" width="20pt" height="18pt"></Image>
    <Label text="{{ 'history_title' | L }} ({{photos.length}})" fontSize="16" class="font-weight-bold" col="1"></Label>
    <Image src="~/app/assets/images/icons/up.png" *ngIf="!isHistoryOpen" col="2" class="m-l-10" width="10pt" height="6pt"></Image>
    <Image src="~/app/assets/images/icons/down.png" *ngIf="isHistoryOpen" col="2" class="m-l-10" width="10pt" height="6pt"></Image>
</GridLayout>
<ScrollView id="history_content" orientation="vertical" sdkExampleTitle sdkToggleNavButton>
    <StackLayout>
        <StackLayout orientation="horizontal" class="list-group-item" (longPress)="selectItem(i)" *ngFor="let photo of photos; let i = index;">
            <GridLayout rows="*" [columns]="isSelected(i) ? '20,*,78' : '78,*,0'" verticalAlignment="top">
                <Image [src]="photo.image" col="0" *ngIf="!isSelected(i)" stretch="aspectFill" (tap)="selectElement(photo)"></Image>
                <StackLayout class="left-blackbar" col="0" *ngIf="isSelected(i)"></StackLayout>
                <StackLayout col="1" class="m-b-5" (tap)="selectElement(photo)">
                    <Label class="m-l-5">
                        <FormattedString>
                            <Span [text]="photo.timestamp" fontAttributes="bold"></Span>
                            <Span text=" {{'history_date_at' | L }} {{photo.time}}"></Span>
                        </FormattedString>
                    </Label>
                    <WrapLayout>
                        <ns-hashtag *ngFor="let tag of getHashtags(photo)" [name]="tag.title"></ns-hashtag>
                        <ns-hashtag name="+{{countFurtherHashtags(photo)}} more"></ns-hashtag>
                    </WrapLayout>
                </StackLayout>
                <StackLayout col="2" class="trash" *ngIf="isSelected(i)" verticalAlignment="middle" horizontalAlignment="center" (tap)="deleteHistoryItem(photo)">
                    <Image src="~/app/assets/images/icons/trash.png" width="27pt" height="30pt"></Image>
                </StackLayout>                        
            </GridLayout>         
        </StackLayout>
    </StackLayout>            
</ScrollView>