<StackLayout tkMainContent>
    <GridLayout rows="220,*">

        <StackLayout height="220" verticalAlignment="top">
            <GridLayout>
                <Image src="~/app/assets/images/header/header_error.png" stretch="aspectFill"></Image>
                <Label [text]="'error_headline' | L" textWrap="true" class="m-t-40 header-text" [class.p-t-20]="!isIOS"></Label>
                <Label [text]="'error_desc' | L" textWrap="true" class="m-t-90 header-text size-smaller" [class.p-t-20]="!isIOS"></Label>
            </GridLayout>
        </StackLayout>
        
        <StackLayout row="1" class="p-l-20 p-r-20 m-t-70">
            <GridLayout rows="auto" columns="50,*" class="info p-10">
                <Image src="~/app/assets/images/icons/info.png" row="0" col="0" width="22pt" height="22pt"></Image>
                <Label [text]="'error_desc2' | L" textWrap="true" class="font-reg-s" row="0" col="1"></Label>
            </GridLayout>
            <StackLayout class="m-t-30">
                <!-- <Button class="btn btn-rounded-lg btn-active font-demi-bold gradient main-button" text="{{ 'error_button_try_again' | L }}" (tap)="clickRetry()"></Button> -->
                <Button class="btn btn-rounded-lg btn-outline border-color-normal color-normal" text="{{ 'error_button_back' | L }}" (tap)="clickGoHome()"></Button>
            </StackLayout>            
        </StackLayout>
        
    </GridLayout>
</StackLayout>