// .bg {
  // width: 100%;
  // height: 100%;
  // vertical-align: center;
  // background-color: rgb(94, 117, 137);
  // padding: 20;
// }

#big_header {
  height: 220pt;
}

.desc {
  font-size: 28pt;
  font-family: 'AvenirNext-Medium', 'Avenir Next Medium';
  margin-bottom: 18pt;
}

.info {
  background-color: rgb(237, 240, 242);
  border-radius: 5pt;
}

Button {
  height: 50pt;
  text-transform: none;

  &.main-button {
    color: #fff;
    margin-bottom: 10pt;
  }
}
