GridLayout {

  &.large {
    width: 240pt;
    height: 240pt;

    .bg {
      width: 210pt;
      height: 210pt;
    }
    .bar {
      width: 225pt;
      height: 225pt;
    }
  }
  &.small {
    width: 120pt;
    height: 120pt;
    
    .bg {
      width: 105pt;
      height: 105pt;
    }
    .bar {
      width: 112pt;
      height: 112pt;
    }
  }

  Label {
    font-size: 34pt;
    color: #eb9c8b;
  }
}