<Label class="m-t-10 m-b-5 m-l-5 m-r-5">
  <FormattedString>
    <Span class="font-demi-bold" [text]="'results_category_user_hashtags' | L"></Span>
    <Span text="  ({{selectedHashtags.length}} / 30)" fontSize="12"></Span>
  </FormattedString>
</Label>
<WrapLayout class="m-t-5">
  <ns-hashtag
    *ngFor="let title of selectedHashtags"
    (onClick)="deselectHashtag(title)"
    [name]="'#' + title + '   &times;'"
    [isActive]="true"
    ></ns-hashtag>
</WrapLayout>
<Button [text]="'results_copy_selected' | L"
  (tap)="copyToClipboard()"
  class="btn btn-rounded-lg btn-outline border-color-normal color-normal"
  verticalAlignment="middle"
  *ngIf="selectedHashtags.length !== 0"
  ></Button>
