<Label class="m-t-10 m-b-5 m-l-5 m-r-5">
  <FormattedString>
    <Span class="font-demi-bold" [text]="'results_category_user_hashtags' | L"></Span>
    <Span text="  ({{selectedHashtags.length}} / 30)" fontSize="12"></Span>
  </FormattedString>
</Label>
<WrapLayout class="m-t-5">
  <ns-hashtag
    *ngFor="let title of selectedHashtags"
    (onClick)="deselectHashtag(title)"
    [name]="'#' + title + '   &times;'"
    [isActive]="true"
    ></ns-hashtag>
</WrapLayout>
<Button [text]="'results_copy_selected' | L"
    (tap)="copyToClipboard()"
    class="btn btn-rounded-lg btn-outline border-color-normal color-normal"
    verticalAlignment="middle"
    *ngIf="selectedHashtags.length !== 0"
    ></Button>
<Label text="Suggestions (based on my selection)" class="font-demi-bold m-t-10 m-l-5 m-b-5" *ngIf="!!suggestedHashtags && suggestedHashtags.tags.length > 0"></Label>
<WrapLayout class="m-t-5" *ngIf="!!suggestedHashtags">
  <ns-hashtag
    *ngFor="let tag of suggestedHashtags.tags"
    (onClick)="toggleHashtag(tag.title)"
    [name]="'#' + tag.title"
    [isActive]="selectedHashtags.indexOf(tag.title) > -1"
    ></ns-hashtag>
</WrapLayout>
<Label class="m-r-10 m-l-5 m-b-5" text="{{ 'results_no_hashtags_selected' | L }}" *ngIf="selectedHashtags.length == 0"></Label>
