#big_header {
  height: 220pt;
}

#upload-button {
  height: 50pt;
  margin-left: 40;
  margin-right: 40;
  color: #fff;
  text-transform: none;
}

.intro {
  text-align: center;
  margin: 0 70pt 10pt 70pt;
}

.terms {
  text-decoration: underline;
}

#history {
  background-color: #fcfcfc;
  width: 100%;
}