<GridLayout tkMainContent #mainContainer>
    <GridLayout rows="220,*" class="Home">
        <GridLayout row="1">
            <GridLayout rows="*,130" verticalAlignment="middle">
                <StackLayout row="0">
                    <Label [text]="'home_desc_3' | L" class="font-medium-small intro" textWrap="true"></Label>
                    <Button class="btn btn-rounded-lg btn-active font-demi-bold gradient" id="uploadButton" text="{{ 'home_upload' | L }}" row="0" (tap)="clickSelectPhoto()"></Button>
                    <ProgressBar page="home" width="40%"></ProgressBar>
                </StackLayout>
            </GridLayout>
        </GridLayout>
    </GridLayout>
    
    <AbsoluteLayout class="text-center" verticalAlignment="bottom">
        <GridLayout id="history" [height]="historyHeight" [translateY]="historyDefaultTransform" #history [class.active]="isHistoryOpen === 1" [class.inactive]="isHistoryOpen === 2" top="0" left="0">
            <Image src="~/app/assets/images/home_footer_shadow.png" #historShadow verticalAlignment="top"></Image>
            <ns-history [historyOpenChanged]="historyOpenChanged" (openCloseHistory)="clickHistory()"></ns-history>
        </GridLayout>
    </AbsoluteLayout>

    <StackLayout id="big_header" #header verticalAlignment="top">
        <ns-big-header></ns-big-header>
    </StackLayout>

    <Image src="~/app/assets/images/icons/menu_bar_white.png" horizontalAlignment="left" verticalAlignment="top" height="70" width="70" class="m-t-20 p-l-25 p-r-25 p-b-20 p-t-10" style="background-color: transparent;" (tap)="openMenu()"></Image>


    <ns-confirm-image *ngIf="showConfirmImage" (onClickCancel)="clickCancelConfirmImage()"></ns-confirm-image>

</GridLayout>