#big_header {
  height: 220pt;
}

#uploadButton {
  height: 50pt;
  margin: 0 50pt;
  color: #fff;
  text-transform: none;
}

.intro {
  text-align: center;
  margin: 0 80pt 10pt 80pt;
}

.terms {
  text-decoration: underline;
}

#history {
  background-color: #fcfcfc;
  width: 100%;
}