.home-button {
  height: 50pt;
  margin: 0 50pt;
  text-transform: none;

  &.margin-top {
    margin-top: 10pt;
  }
}

.intro {
  text-align: center;
  margin: 0 80pt 10pt 80pt;
}

.terms {
  text-decoration: underline;
}

#history {
  width: 100%;
}

#history_clickarea {
  background-color: red;
}