// Import the theme’s variables. If you’re using a color scheme
// other than “light”, switch the path to the alternative scheme,
// for example '~nativescript-theme-core/scss/dark'.
@import '~nativescript-theme-core/scss/light';

// Customize any of the theme’s variables here, for instance $btn-color: red;

$color_pink: #E067A9;
$color_orange: #FFB184;
$color_pink_transparent: rgba(224,103,169,0.8);
$color_orange_transparent: rgba(255,177,132,0.8);
$color_pink_transparent_dark: rgba(95,112,136,0.8);
$color_orange_transparent_dark: rgba(78,100,124,0.8);