@import 'app-variables';

Label, Button, Span {
  font-family: "AvenirNext-Regular", "Avenir Next";
  font-size: 14pt;
}

.p-t-40 { padding-top: 40pt; }
.p-t-50 { padding-top: 50pt; }
.p-t-60 { padding-top: 60pt; }
.p-t-70 { padding-top: 70pt; }
.p-t-80 { padding-top: 80pt; }

.p-r-40 { padding-right: 40pt; }
.p-r-50 { padding-right: 50pt; }
.p-r-60 { padding-right: 60pt; }
.p-r-70 { padding-right: 70pt; }
.p-r-80 { padding-right: 80pt; }

.p-b-40 { padding-bottom: 40pt; }
.p-b-50 { padding-bottom: 50pt; }
.p-b-60 { padding-bottom: 60pt; }
.p-b-70 { padding-bottom: 70pt; }
.p-b-80 { padding-bottom: 80pt; }

.p-l-40 { padding-left: 40pt; }
.p-l-50 { padding-left: 50pt; }
.p-l-60 { padding-left: 60pt; }
.p-l-70 { padding-left: 70pt; }
.p-l-80 { padding-left: 80pt; }

.m-t-15 { margin-top: 15pt; }
.m-t-30 { margin-top: 30pt; }
.m-t-35 { margin-top: 35pt; }
.m-t-40 { margin-top: 40pt; }
.m-t-50 { margin-top: 50pt; }
.m-t-60 { margin-top: 60pt; }
.m-t-70 { margin-top: 70pt; }
.m-t-80 { margin-top: 80pt; }
.m-t-90 { margin-top: 90pt; }
.m-t-100 { margin-top: 100pt; }
.m-t-110 { margin-top: 110pt; }
.m-t-120 { margin-top: 120pt; }
.m-t-130 { margin-top: 130pt; }
.m-t-140 { margin-top: 140pt; }
.m-t-150 { margin-top: 150pt; }
.m-t-160 { margin-top: 160pt; }

.m-b-40 { margin-bottom: 40pt; }
.m-b-50 { margin-bottom: 50pt; }
.m-b-60 { margin-bottom: 60pt; }
.m-b-70 { margin-bottom: 70pt; }
.m-b-80 { margin-bottom: 80pt; }
.m-b-90 { margin-bottom: 90pt; }
.m-b-150 { margin-bottom: 150pt; }
.m-b-160 { margin-bottom: 160pt; }
.m-b-170 { margin-bottom: 170pt; }
.m-b-180 { margin-bottom: 180pt; }
.m-b-190 { margin-bottom: 190pt; }
.m-b-200 { margin-bottom: 200pt; }

.gradient,
.btn-normal {
  background: linear-gradient(to right, $color_pink, $color_orange);
}
.gradientTrans {
  background: linear-gradient(to right, $color_pink_transparent, $color_orange_transparent);
}
.btn {
  font-family: "AvenirNext-DemiBold", "Avenir Next Demi Bold";
  font-size: 18pt;
}
.btn-normal {
  color: #fff;
  text-transform: none;
  font-size: 16pt;
}

.border-color-normal {
  border-color: $color_pink;
  background-color: #fff;
}

.color-normal {
  color: $color_pink;
  text-transform: none;
  font-size: 16pt;
}

.far {
  font-family: Font Awesome 5 Free, fa-regular-400;
  font-weight: 400; 
}
.fab {
  font-family: Font Awesome 5 Brands, fa-brands-400;
  font-weight: 400; 
}
.fas {
  font-family: Font Awesome 5 Free, fa-solid-900;
  font-weight: 900; 
	color: rgba(0,0,0,0.4);
}
.font-reg-xs {
  font-family: "AvenirNext-Regular", "Avenir Next";
  font-size: 14pt;
  color: rgb(90, 98, 104);
}
.font-reg-s {
  font-family: "AvenirNext-Regular", "Avenir Next";
  font-size: 15pt;
  color: rgb(90, 98, 104);
}

.font-medium-l {
  font-family: "AvenirNext-Medium", "Avenir Next Medium";
  font-size: 18pt;
	color: rgba(0,0,0,0.4);
}
.font-medium-small {
  font-family: "AvenirNext-Medium", "Avenir Next Medium";
  font-size: 15pt;
  color: rgb(90, 98, 104);
}
.font-medium-xs {
  font-family: "AvenirNext-Medium", "Avenir Next Medium";
  font-size: 12pt;
  color: rgb(90, 98, 104);
}
.font-demi-bold {
  font-family: "AvenirNext-DemiBold", "Avenir Next Demi Bold";
  text-transform: none;
  font-size: 16pt;
  color: rgb(30, 39, 46);
}

.menu {
  background-image: url("~/app/assets/images/menu.png");
  background-repeat: no-repeat;
  background-position: left;
  height: 100%;
  background-size: cover;
  padding: 20pt 0 0 0;
  
  .close-menu {
    margin: 20pt 0 80pt 0;
  }
  .item {
    margin-top: 40pt;

    Image {
      width: 24pt;
      height: 24pt;
    }
    Label {
      font-size: 19pt;
      font-family: "AvenirNext-Medium", "Avenir Next Medium";
      vertical-align: middle;
      margin-left: 10pt;
      color: #737373;

      &.new-info {
        font-size: 15pt;
        font-family: "AvenirNext-Regular", "Avenir Next";
        border-width: 1pt;
        border-radius: 5pt;
        padding: 1pt 6pt 2pt 6pt;
        margin-left: 10pt;
        border-color: $color_pink;
        color: $color_pink;
      }
    }
    .menu-active {
      font-family: "AvenirNext-DemiBold", "Avenir Next Demi Bold";
      color: $color_pink;
    }
  }
}

.top-shadow {
  height: 100%;    
  background-image: url("~/app/assets/images/top-shadow.png");
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-position: top;
}

.bottom-shadow {
  height: 100%;    
  background-image: url("~/app/assets/images/bottom-shadow.png");
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-position: bottom;
}

.footer {
  background-color: #fafafa;
}

#header {
  vertical-align: middle;
  height: 70pt;
  padding: 20pt 20pt 0 20pt;
  color: rgb(30, 39, 46);

  Label {
    vertical-align: middle;
    color: rgb(30, 39, 46);
  }
  &.gradient Label {
    color: #fff;
  }
}

.title {
  color: #fff;
  font-size: 19pt;
  font-family: 'AvenirNext-Medium', 'Avenir Next Medium';
  letter-spacing: 0;
}

.btn-add {
  font-size: 14pt;
  border-radius: 10pt;
  border-width: 2pt;
  border-color: #cec8c8;
  color: #a5a2a2;
  height: 30pt;
  margin: 0 0 0 5pt;
}

.btn-add.active {
  border-color: $color_orange;
  color: $color_orange;
}

.btn-search {
  font-size: 18pt;
  border-radius: 0 3pt 3pt 0;
  border-width: 0;
  color: #FBA789;
  height: 100%;
  border-width: 0pt;
  border-color: #fff;
  border-left-width: 3pt;
  border-left-color: #F79D8E;
  width: 85pt;
  background-color: rgb(248, 248, 248);
  margin: 0;
  padding: 0;
}
