#big_header {
    height: 240pt;
}
    #big_header.active {
        animation-name: showHeader;
        animation-duration: 0.6s;
        animation-fill-mode: forwards;
    }
    #big_header.inactive {
        animation-name: hideHeader;
        animation-duration: 0.6s;
        animation-fill-mode: forwards;
    }
    @keyframes showHeader {
        from {
            transform: translate(0, 0);
        }
        to {
            transform: translate(0, -110);
        }
    }
    @keyframes hideHeader {
        from {
            transform: translate(0, -110);
        }
        to {
            transform: translate(0, 0);
        }
    }

#upload-button {
    height: 50pt;
    margin-left: 40;
    margin-right: 40;
    color: #fff;
    text-transform: none;
}

.center {
    text-align: center;
    margin: 10 10 0 10;
}

.terms {
    text-decoration: underline;
}

#history {
    background-color: #fcfcfc;
    height: 690pt; /* 130 + 450 content + 110 header */
    width: 100%;
    transform: translate(0, 560);
}
    #history.active {
        animation-name: show;
        animation-duration: 0.6s;
        animation-fill-mode: forwards;
    }
    #history.inactive {
        animation-name: hide;
        animation-duration: 0.6s;
        animation-fill-mode: forwards;
    }
    @keyframes show {
        from {
            transform: translate(0, 560);
            background-color: #fcfcfc;
        }
        to {
            transform: translate(0, 0);
            background-color: #fff;
        }
    }
    @keyframes hide {
        from {
            transform: translate(0, 0);
            background-color: #fff;
        }
        to {
            transform: translate(0, 560);
            background-color: #fcfcfc;
        }
    }

#history.active #history_shadow {
    animation-name: hideShadow;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
}
#history.inactive #history_shadow {
    animation-name: showShadow;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
}
    @keyframes showShadow {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    @keyframes hideShadow {
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
        }
    }