#upload-button {
    height: 50pt;
    margin-left: 40;
    margin-right: 40;
    /* margin-bottom: 120; */
    background: linear-gradient(to right, #C85CA2 , #F0A587);
    color: #fff;
    text-transform: none;
}

.center {
    text-align: center;
    margin: 10 10 0 10;
}

.terms {
    text-decoration: underline;
}

#home_footer {
    background-color: #fcfcfc;
}