<!--
RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
http://docs.telerik.com/devtools/nativescript-ui/Controls/NativeScript/SideDrawer/getting-started
-->
<RadSideDrawer toggleNavButton [drawerTransition]="sideDrawerTransition">
    <StackLayout tkDrawerContent>
        <StackLayout rows="auto, *" class="menu">
            <GridLayout rows="30" columns="20,20" horizontalAlignment="left" class="close-menu">
                <Image col="1" src="~/app/assets/images/icons/arrowLeft.png" (tap)="closeMenu()" width="16pt" height="12pt"></Image>
            </GridLayout> 
            <GridLayout rows="30" columns="20,20,auto" (tap)="openPage(i)" class="item" *ngFor="let menu of menus; let i = index;">
                <Image col="1" [src]="'~/app/assets/images/icons/' + (menu == 'history' ? 'history_gradient' : menu) + '.png'"></Image>
                <Label col="2" text="{{ (menu == 'history' ? 'history_title' : 'menu_' + menu) | L }}" [class.menu-active]="selected[i]"></Label>
                <!-- <WrapLayout col="2" *ngIf="menu == 'faq'">
                    <Label text="{{ 'menu_' + menu | L }}" [class.menu-active]="selected[i]"></Label>
                    <Label [text]="'menu_new' | L" class="new-info" verticalAlignment="middle"></Label>
                </WrapLayout> -->
            </GridLayout>
        </StackLayout>
    </StackLayout>
    <page-router-outlet tkMainContent></page-router-outlet>
</RadSideDrawer>