<GridLayout tkMainContent>

    <!-- CONTENT -->
    <ScrollView [style.margin-top]="headerHeight + headerTop - 50" sdkExampleTitle sdkToggleNavButton #scrollView>
        <StackLayout class="p-t-50 p-r-20 p-l-20 p-b-50">
            <StackLayout *ngFor="let faq of faqs; let i = index;" class="item">
                <GridLayout columns="*,20" verticalAlignment="middle" (tap)="expandToggle(i)" class="p-t-20 p-b-15 p-l-20 p-r-20" [class.is-expanded]="faq.expand">
                    <WrapLayout col="0">
                        <Label [text]="faq.title" class="headline-text h3" verticalAlignment="middle" textWrap="true"></Label>
                        <Label [text]="'faq_premium' | L" class="locked iap-info" verticalAlignment="middle" *ngIf="faq.locked && !hasTipsTricksUnlocked"></Label>
                        <Label [text]="'faq_unlocked' | L" class="unlocked iap-info" verticalAlignment="middle" *ngIf="faq.locked && hasTipsTricksUnlocked"></Label>
                    </WrapLayout>
                    <Label col="1" [text]="faq.expand ? '&#xf068;' : '&#xf067;'" fontSize="15" class="fas" *ngIf="!faq.locked || hasTipsTricksUnlocked"></Label>
                </GridLayout>
                <WrapLayout class="p-b-15 p-l-2" *ngIf="faq.expand">
                    <Label [text]="faq.locked && !hasTipsTricksUnlocked ? faq.content.substring(0,200) + '...' : faq.content" textWrap="true" class="content font-reg-s"></Label>
                    <Label [text]="'faq_buy' | L" class="locked iap-info m-t-10" verticalAlignment="middle" *ngIf="faq.locked && !hasTipsTricksUnlocked" (tap)="openModal()"></Label>
                </WrapLayout>
            </StackLayout>
        </StackLayout>
    </ScrollView>

    <!-- HEADER -->
    <AbsoluteLayout [height]="headerHeight" verticalAlignment="top" isUserInteractionEnabled="false">
        <Image src="~/app/assets/images/header/header_tips-tricks.png" stretch="aspectFill" width="100%" [top]="headerTop"></Image>
        <GridLayout width="100%">
            <Label [text]="'menu_faq' | L" horizontalAlignment="center" [class]="'title ' + (isIOS ? 'm-t-20' : 'm-t-40')"></Label>
        </GridLayout>
    </AbsoluteLayout>

    <!-- MENU BUTTON -->
    <StackLayout (tap)="openMenu()" horizontalAlignment="left" verticalAlignment="top" height="70" width="70" class="m-t-20">
        <Image src="~/app/assets/images/icons/menu_bar_white.png" height="20" width="20" [class.m-t-20]="!isIOS" class="p-l-25 p-r-25 p-b-20 p-t-10"></Image>
    </StackLayout>

</GridLayout>