@import '../../../app-variables';

.item {
	border-bottom-width: 1pt;
	border-bottom-color: #ddd;

	.headline-text {
		font-family: "AvenirNext-Medium", "Avenir Next Medium";
		color: rgba(0,0,0,0.5);
	}
	.iap-info {
		border-width: 1pt;
		border-radius: 5pt;
		padding: 1pt 8pt 4pt 8pt;
		margin-left: 15pt;
	
		&.locked {
			border-color: $color_pink;
			color: $color_pink;
		}
		&.unlocked {
			border-color: #67DB67;
			color: #67DB67;
		}
		&.buy-btn {
			color: #fff;
			border-width: 0;
			height: 26pt;
			font-size: 14pt;
			padding: 0 10pt;
		}
	}
	.content {
		line-height: 3;
	}
}