@import '../../../app-variables';

.headline-text {
	font-weight: bold;
	color: rgba(0,0,0,0.5);
}
.locked {
	border-color: $color_pink;
  border-width: 1pt;
	border-radius: 5pt;
	color: $color_pink;
	padding: 1pt 8pt 4pt 8pt;
	margin-left: 15pt;
}
.content {
	line-height: 3;
}