<StackLayout class="home-panel">
    <StackLayout class="title">
        <Label text="{{ 'loading_headline' | L }}" class="text-center"></Label>
    </StackLayout>
    <StackLayout class="content text-center">
        <Label text="{{ 'loading_desc' | L }}" class="m-b-5 font-demi-bold"></Label>
        <Label textWrap="true" text="...{{ 'diduknow_fact' + tipNo | L }}." class="font-reg-s"></Label>
    </StackLayout>
    <StackLayout>
        <circularProgressBar size="large"></circularProgressBar>
    </StackLayout>

    <GridLayout columns="*,auto,auto,auto,auto,*" rows="auto" class="analyzing-text m-t-10">
        <Label col="1" text="   {{'loading_status2' | L}}"></Label>
        <Label col="2" text="{{countDots >= 1 ? '.' : ' '}}"></Label>
        <Label col="3" text="{{countDots >= 2 ? '.' : ' '}}"></Label>
        <Label col="4" text="{{countDots >= 3 ? '.' : ' '}}"></Label>
    </GridLayout>

</StackLayout>